@import "tailwindcss";

body {
    font-family: 'Montserrat', sans-serif;
}

.name-text span:after { 
    content: 'Germain Sepulveda';
    animation: words 6s infinite;
}

@keyframes words {
    0%, 33% { content: 'Germain Sepulveda';
    color: #00ff7f; }
    34%, 66% { content: 'Desarrollador Full Stack';
    color: #ff00ff; }
    67%, 100% { content: 'Creativo y Detallista'; 
    color: #ffd700; }

}
